

<%= render "/partials/user_table" %>

<%= render "/partials/negotiation_table" %>

<%= render "/partials/scenario_table" %>


<div id = 'csv_buttons' style='border-top:1px solid black;margin-top:10px'>
<a href = '/users.csv'><button>Demographics</button></a>
<a href = '/negotiations.csv'><button>Negotiations</button></a>
<a href = '/convert.csv'><button>ID Conversion</button></a>
</div>