

  <div id = 'background_block'>
  <%= render 'partials/tabs/background' %>
  <p style = 'border-top:1px solid black'>
    Done Negotiating?
    <%= submit_tag 'Fill out Form', class: 'basic_button' %>
  </p>
  
  </div>
  
  <div id = 'negotiation_block'>
  <%= render 'partials/tabs/chat' %>
  </div>