

  <div id = 'background_block'>
  <%= render 'partials/tabs/background' %>
  <p class = 'agreement_p' id = 'agreement_p'>
      Done Negotiating?
      <%= submit_tag 'Fill out Form', class: 'agreement_button basic_button' %>
	 
  </p>
  
  </div>
  
  <div id = 'negotiation_block' data-time-left = '<%= current_user.negotiation.time_left %>'>
  <%= render 'partials/tabs/chat' %>
  </div>
