<div id = 'consent_form'>

  <h3>Agreement to Participate in Research<br />
  <strong>The University of Chicago</strong></h3>

<div id = 'scroll_consent'>

<p>
  You are invited to <strong>participate in a research study</strong> involving language and decision-making. You will be further briefed on the nature of the experiment after you have completed the study. 
</p>
<p>
  <span>Benefits.</span> The benefits of participating in this study include the opportunity to contribute to empirical research. 
</p>
<p>
  <span>Compensation and duration.</span> You will receive [xx]. The experiment should last a total of no more than [xx] minutes over [xx] day(s). 
</p>
<p>
  <span>Risks.</span> There are minimal foreseeable physical or emotional risks involved. 
</p>
<p>
  <span>Confidentiality.</span> Your data will be recorded, analyzed, and kept on file for the sake of possible future analysis, but they will be kept completely confidential. We will maintain confidentiality by keeping your data under lock, and by separating your identity from the data when coding and analyzing them so that others will not be able to connect you with your data. 
</p>
<p>
  <span>Taping and recording.</span> In some cases we video or audio record participants as they perform the task. If we do, you will be informed. We might present clippings of these tapes for illustrative purposes. In these cases, your anonymity will be maintained, as we will not associate any personal information with the tapes presented. We ask for your permission to present these tapes at scientific settings. If we present clips in scientific settings, they will never reveal your identity. They will either not include your image, or will have the image from the back which will allow no such identification. 

  </p>

<p>
  <span>Your rights.</span> <strong>Your participation is voluntary and you have the right to withdraw your consent or discontinue participation at any time without penalty.</strong> You have the right to refuse to answer particular questions or perform any task. If <strong>for any reason</strong> you do not complete the experiment, you will still be compensated in proportion to the time you spent on the experiment. In addition, your privacy will be maintained in all published and written data resulting from this study. 
</p>
<p>
  <span>Questions or concerns.</span> If you have any questions regarding this study please contact the PI, Boaz Keysar at 773 702-5830, 5848 S. University Ave./Beecher 213, Chicago IL, 60637, or via e-mail at: <a href='mailto:boaz@uchicago.edu'>boaz@uchicago.edu</a> <br />
  If you have any concerns or are dissatisfied at any time with any aspect of this study, you may report your grievances -- anonymously, if you wish -- to the Social and Behavioral IRB Office. 
</p>
<p class = 'indented'>
  Social and Behavioral IRB Office 
  5835 S. Kimbark Avenue, Judd Hall 333 
  Chicago, IL 60637 
  773-834-7835; <a href='mailto:sbs-irb@uchicago.edu'>sbs-irb@uchicago.edu</a>
</p>

<p>
  Clicking on “Accept” and/or submitting the completed survey will be taken as your consent to participate in this study.
  </p>
  <p class ='centered_button'>
  <input type = 'submit' class = 'consent_button' value = 'Accept'></input></p>
</div>

</div>