

<div id = 'instructions'>

  <h2>Instructions:</h2>

  <p>In this study, you will be asked to negotiate with another person in <%= current_user.scenario.language %>.</p>

 <p> Should you agree to the consent form, you will be playing the role of <%= current_user.role %> in the <%= current_user.scenario.title %>. The Background will give you all the information you need. Do not continue past the background until you are ready to negotiate.</p>

  <p>You have 20 minutes to reach an agreement of any kind. Please note that the 20 minutes includes the time both to reach the agreement and to record it. If you cannot reach an agreement, please try to explain why.</p>

  <p>Please try to refer to yourself and to the opposite party using plural or gender-neutral terms. </p>

  <p>Please speak exclusively in <%= current_user.scenario.language %>.</p>
  

</div>