<h2>Users</h2>

<div class =  'table_scroll'>
<table class = 'user_table'>
  
  <tr id = 'entry_definitions'>
    <td>Subject Number</td>
    <td>Name</td>
    <td>Secure Key</td>
    <td>Online</td>
    <td>Admin</td>
  </tr>
  
  <%= render User.all %>
  
</table>
</div>

<%= button_tag 'Make Admin', class: 'admin_button' %>

<%= button_tag 'Delete', class: 'delete_button' %>
