

<%= render '/partials/tabs/background' %>

<div style = 'text-align:center'>
<%= form_tag users_accept_background_path do %>
<%= submit_tag 'Ready', class: 'basic_button background_button' %>
<% end %>
</div>