
<table>
 <tr>
   <td>ID</td>
   <td>Name</td>
   <td>Release Date</td>
   <td>Price</td>
 </tr>
<% User.all.each do |product| %>
 <tr>
   <td><%= product.id %></td>
   <td><%= product.username %></td>
   <td><%= product.country %></td>
   <td><%= product.email %></td>
 </tr>
<% end %>
</table>