
<div id="tab-container" class="tab-container">
  <ul class='etabs'>
    <% @tabs.each_with_index do |tab, index| %>
      <li class='tab_link'>
        <a href="#tab_<%= index %>"><%= tab[:title] %></a>
      </li>
    <% end %>
  </ul>
  
  <% @tabs.each_with_index do |tab, index| %>
    <div id="tab_<%= index %>" class = 'tab'>
      <%=  tab[:content] %>
    </div>
  <% end %>
</div>